body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    touch-action: manipulation;
    user-select: none;
    -webkit-touch-callout: none;
}

body {
    font-family: "Noto Sans JP", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.0;
    background: white;
    -webkit-tap-highlight-color: transparent;
}

.scene {
    position: absolute;
    inset: 0;
    color: white;
}

.scene-ctrl {
    position: absolute;
    inset: 0;
}

.game-scene {
    
}

.course-canvas {
    position: absolute;
}

.car {
    position: absolute;
    will-change: transform;
    transform-origin: 0 0;
    width: 13px;
    height: 16px;
    left: 0;
    top: 0;
    //image-rendering: pixelated;
    filter: drop-shadow(0 0 2px black);

    > .tire {
        position: absolute;
        will-change: transform;
    }

    > .body {
        position: absolute;
    }
}